body {
	margin:0;
	padding:0;
	background-image: url("../images/back.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
header {background-color:white;}
input {
	width:90%;
	padding:15px 31px;
	border:1px solid black;
	margin: 10px 0;
}
.loginbutton2 {
	background-color:#4CAF50;
	color:white;
	padding:14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width:100%;
}
.cancelbutton {
	background-color:red;
	color:white;
	padding:14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width:100%;
}
.container {padding:16px;}
.modal {
	display:none;
	position:fixed;
	z-index:1;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:auto;
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
	padding-top: 60px;
}
.modal-content {
	background-color: #fefefe;
	margin:10% auto 15% auto;
	border-radius:12px;
	border: 1px solid #888;
	width:50%;
}				
.button {
	padding:10px 30px 10px 30px;
	font-size:16px;
	background-color:white;
	border:2px solid black;
	text-decoration:none;
	cursor:pointer;
	border-radius:12px;
	margin:0.5em;
	transition: all 0.3s ease 0.3s;
}
.button:hover {box-shadow: inset 0 0 0 5px #3071A9;}
header img {
	width:65px;
	height:74px;
	padding:20px 0px 30px 20px;
	float:left;
}
header ul {
	text-align:right;
	list-style-type:none;
}
nav {position:fixed;
     width:100%;
	background-color:black;
    clear:left;
    text-align:center;
	top:0px;
	border-bottom:2px solid white;
	z-index:1;
}
.dropbtn {
	color:white;
	padding:10px 30px 10px 30px;
	background-color:black;
	font-family:Impact, Charcoal, sans-serif;
	border:none;
	cursor:pointer;
	font-size:16px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}
.dropbtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.dropbtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.dropbtn:hover span {padding-right: 25px;}
.dropbtn:hover span:after {
  opacity: 1;
  right: 0;
}
nav a {
	text-decoration:none;
	color:white;
	font-family:Impact, Charcoal, sans-serif;
	display:inline-block;
}
#nav_sign{
	text-align:right;
	float:right;
}
nav strong {
	color:white;
	font-family:Impact, Charcoal, sans-serif;
	padding-left:5px;
	font-weight:bold;
	font-size:20px;
} 
.button1 {
	padding:10px 30px 10px 30px;
	font-size:16px;
	background-color:black;
	border:none;
	text-decoration:none;
	color:white;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}
.button1 span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
	margin:0.3em;
}
.button1 span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}
.button1:hover span {padding-right: 25px;}
.button1:hover span:after {
  opacity: 1;
  right: 0;
}
.navbar {
	float:left;
	padding-left:20px;
	width:30%;
}
.banner {
	padding-left:20px;
	float: left;
}
.dropdown {
	position:relative;
	display:inline-block;
}
.dropdown-content {
	display:none;
	position:absolute;
	background-color:black;
	color:white;
	z-index:1;
}
.dropdown-content a {
	display:block;
	color:white;
	text-decoration:none;
}
.dropdown-content ul {
	list-style-type:none;
	padding-left:0px;
}
.dropdown-content li {
	padding-top:5px;
	padding-bottom:5px;
	padding-left:0px;
}			 
.dropdown-content a:hover {
	color:white;
	text-shadow:3px 3px 3px white;
}
.dropdown:hover .dropdown-content {
	display:block;
	padding:5px 30px 5px 5px;
}
.dropdown:hover .button1 {
	color:white;
	text-shadow:3px 3px 3px white;
}
main {
	width:50.5%;
	margin-left:auto;
	margin-right:auto;
	padding-top:7%;
	background-color:white;
}
.alex {
	width:462px;
	height:320px;
	box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
	border-bottom:2px solid #fff;
	border-right:2px solid #fff;
	margin-left:auto;
	margin-right:auto;
	background-image:url(../images/farcry4.png);
	background-size:cover;
	border-radius:5px;
	overflow:hidden;
}
.alex:hover .overlap{opacity:1}
.nintendo {
	width:462px;
	height:320px;
	box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
	border-bottom:2px solid #fff;
	border-right:2px solid #fff;
	margin-left:auto;
	margin-right:auto;
	background-image:url(../images/nintendodirect.png);
	background-size:cover;
	border-radius:5px;
	overflow:hidden;
}
.nintendo:hover .overlap{opacity:1}
.cyberpunk {
	width:462px;
	height:320px;
	box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
	border-bottom:2px solid #fff;
	border-right:2px solid #fff;
	margin-left:auto;
	margin-right:auto;
	background-image:url(../images/cyberpunk2077.jpg);
	background-size:cover;
	border-radius:5px;
	overflow:hidden;
}	
.cyberpunk:hover .overlap{opacity:1}
.battlefield {
	width:462px;
	height:320px;
	box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
	border-bottom:2px solid #fff;
	border-right:2px solid #fff;
	margin-left:auto;
	margin-right:auto;
	background-image:url(../images/battlefield1.png);
	background-size:cover;
	border-radius:5px;
	overflow:hidden;
}
.battlefield:hover .overlap{opacity:1}
.arma3 {
	width:462px;
	height:320px;
	box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
	border-bottom:2px solid #fff;
	border-right:2px solid #fff;
	margin-left:auto;
	margin-right:auto;
	background-image:url(../images/arma3.png);
	background-size:cover;
	background-position:center;
	background-size:462px 320px;
	border-radius:5px;
	overflow:hidden;
}
.arma3:hover .overlap{opacity:1}
.starve {
	width:462px;
	height:320px;
	box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
	border-bottom:2px solid #fff;
	border-right:2px solid #fff;
	margin-left:auto;
	margin-right:auto;
	background-image:url(../images/starve.png);
	background-size:cover;
	background-position:center;
	background-size:462px 320px;
	border-radius:5px;
	overflow:hidden;
}
.starve:hover .overlap{opacity:1}
.top10 {
	width:462px;
	height:320px;
	box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
	border-bottom:2px solid #fff;
	border-right:2px solid #fff;
	margin-left:auto;
	margin-right:auto;
	background-image:url(../images/top10.png);
	background-size:cover;
	background-position:center;
	background-size:462px 320px;
	border-radius:5px;
	overflow:hidden;
}
.top10:hover .overlap{opacity:1}
table {
	margin-left:auto;
	margin-right:auto;
	border-collapse:collapse;
	background-color:white;
	width:48%;
}
table th {
	background-color: #D3D3D3;
	border: 1px solid #000000;
	text-align:left;
}	
table td {
	border: 1px solid #000000;
	padding: 4px 8px;
}	
.overlap {  
	width:462px;
	height:320px;
	background:rgba(0,0,0,.75);
	text-align:center;
	padding:100px 0 66px 0;
	opacity:0;
	transition: opacity .25s ease;
}
.Enter a {
	font-family:Impact, Charcoal, sans-serif;
	font-size:200px;
	color:white;
	font-size:96px;
}
.news {
	width:80%;
	margin-left:auto;
	margin-right:auto;
	border-bottom:2px solid black;
	padding-top:20px;
}
.news textarea {width:100%}
.center2 {
	width:462px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	border:0px;
	padding:0px;
}
.center {
	width:462px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	border-bottom:2px solid black;
}
#gender input{
	width:10px;
    height:10px;
}
.centering {text-align:center}
footer{
	background-color:black;
	text-align:center;
	color:white;
	height:30px;
}
#force {margin-top:21%}
footer img {
	padding-left:5px;
	padding-right:5px;
	width:30px;
	height:30px;
	float:right
}
/*Scroll up function*/
.scroll-to-top-link{
	position:fixed;
	width:50px;
	right:10%;
	bottom:10%;
	cursor:pointer;
}