body { 
	margin:0;
	padding:0;
}
header {background-color:white;}

header ul{
	text-align:right;
	list-style-type:none;
}
#gender input{width:10px;
             height:10px}	
.button {
	padding:10px 30px 10px 30px;
	font-size:16px;
	background-color:white;
	border:2px solid black;
	text-decoration:none;
	cursor:pointer;
	border-radius:12px;
	margin:0.5em;
	transition: all 0.3s ease 0.3s;
}

.button:hover {
  box-shadow: inset 0 0 0 5px #3071A9;
  
}

#nav_sign{
	text-align:right;
	float:right;
	
}


.modal {
	display:none;
	position:fixed;
	z-index:1;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:auto;
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
	padding-top: 60px;
}
.modal-content {
	background-color: #fefefe;
	margin:10% auto 15% auto;
	border-radius:12px;
	border: 1px solid #888;
	width:50%;
}
.loginbutton2 {
	background-color:#4CAF50;
	color:white;
	padding:14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width:100%
}
.cancelbutton {
	background-color:red;
	color:white;
	padding:14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width:100%;
}
input {
	width:90%;
	padding:15px 31px;
	border:1px solid black;
	margin: 10px 0;
	border-radius: 20px;
	background-color:#CCC;
}
textarea {
	background-color:#CCC;
	border: 1px solid black;
	border-radius:10px;
}
.container {padding:16px;
            }	

.inputColor{background-color:white;
            border-radius:0;}
			
nav {position:fixed;
     width:100%;
	background-color:black;
    clear:left;
    text-align:center;
	border-bottom:2px solid white;
	
}
nav a {
	text-decoration:none;
	color:white;
	font-family:Impact, Charcoal, sans-serif;
	display:inline-block;
}
nav strong {
	color:white;
	font-family:Impact, Charcoal, sans-serif;
	padding-left:5px;
	font-weight:bold;
	font-size:20px;
} 

.button1 {
	padding:10px 30px 10px 30px;
	font-size:16px;
	background-color:black;
	border:none;
	
	text-decoration:none;
	color:white;
	transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
	
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  margin:0.3em;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}

.dropbtn {
	color:white;
	padding:10px 30px 10px 30px;
	background-color:black;
	font-family:Impact, Charcoal, sans-serif;
	border:none;
	cursor:pointer;
	font-size:16px;
	transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.dropbtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.dropbtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.dropbtn:hover span {
  padding-right: 25px;
}

.dropbtn:hover span:after {
  opacity: 1;
  right: 0;
}

.dropdown {
	position:relative;
	display:inline-block;
}
.dropdown-content {
	display:none;
	position:absolute;
	background-color:black;
	color:white;
	z-index:1;
}
.dropdown-content a {
	display:block;
	color:white;
	text-decoration:none;
}
.dropdown-content ul {
	list-style-type:none;
	padding-left:0px;
}
.dropdown-content li {
	padding-top:5px;
	padding-bottom:5px;
	padding-left:0px;
}			 
.dropdown-content a:hover {
	color:white;
	text-shadow:3px 3px 3px white;
}
.dropdown:hover .dropdown-content {
	display:block;
	padding:5px 30px 5px 5px;
}
.dropdown:hover .button1 {
	color:white;
	text-shadow:3px 3px 3px white;
}
main {
	width:50.5%;
	margin-left:auto;
	margin-right:auto;
}
#all {padding-top:5em;
	background-image: url("../images/back.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left:auto;
	margin-right:auto
}
fieldset { 
	border: 3px solid black;
	border-radius:10px;
	background-color: white;
	margin-bottom:15px;
	
	
    font-family: Arial, Helvetica, sans-serif;

}


legend {
	border : 2px solid black;
	background-color:white;
}
#userNAME { 
	height:5%;
	width:70%;
}
#userEMAIL { 
	height:5%;
	width:70%;
}

#send{
width:30%;	
}

#contact_123 {font-size: 15px;}


#contact_legend { 
	font-weight: bold;
	font-size: 19px;
	
}

#upperf{width:89%;
padding-left:8%;
padding-top:1%;

         }

#OPINION{
width:80%;	
	
}

#left { 
	margin-left: 7%;
	margin-right:6%;
	margin-top:1.5%;
	float:left;
	clear:left;
	padding-right:1%;
	
}

#right{padding-left:1%;}


#teampic {
	position:relative;
	width:30%;
	height: 15%;
	padding-left:5%;
	float:left;
	padding-right:5%;
	z-index:0;
}

#down fieldset{padding-left:10%;
padding-right:10%;}

#map {
	height: 10em;
	width: 10em;
	border:2px solid black;
	border-radius: 10px;
	
}			
footer {
	background-color:black;
	text-align:center;
	color:white;
	height:30px
	
}
footer img {
	padding-left:5px;
	padding-right:5px;
	width:30px;
	height:30px;
	float:right;
}
/*Scroll up function*/
.scroll-to-top-link{
	position:fixed;
	width:50px;
	right:10%;
	bottom:10%;
	cursor:pointer;
}