body {
	margin:0;
	padding:0;
	font-family: "Times New Roman", Times, serif;
	background-image: url("../images/back.jpg");
	background-repeat: no-repeat;
	background-size: 100% 150%;
	}
header img {
	width:65px;
	height:74px;
	padding:20px 0px 30px 20px;
	float:left
}
header ul {
	text-align:right;
	list-style-type:none;
}
.centering {text-align:center}
input {
	width:90%;
	height:30px;
	padding:12px 20px;
	border:1px solid black;
	margin: 10px 0
}
#gender input{width:10px;
             height:10px}	
.loginbutton2 {
	background-color:#4CAF50;
	color:white;
	padding:14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width:100%;
}
.button {
	padding:10px 30px 10px 30px;
	font-size:16px;
	background-color:white;
	border:2px solid black;
	text-decoration:none;
	cursor:pointer;
	border-radius:12px;
	margin:0.5em;
	transition: all 0.3s ease 0.3s;
}		
.button:hover {box-shadow: inset 0 0 0 5px #3071A9;} 
.userbutton {
	background-color:white;
	border:2px solid black;
	color:black;
	padding:15px 32px;
	text-align:center;
	text-decoration:none;
	font-size:16px;
	cursor:pointer;
	border-radius:12px;
}
.logout {
	background-color:#4CAF50;
	color:white;
	padding:14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width:100%;
}
.cancelbutton {
	background-color:red;
	color:white;
	padding:14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width:100%;
}
.container {padding:16px;}
.center {
	text-align:center;
	border-bottom:2px solid black;
}
.modal {
	display:none;
	position:fixed;
	z-index:1;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:auto;
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
	padding-top: 60px;
}
.modal-content {
	background-color: #fefefe;
	margin:10% auto 15% auto;
	border-radius:12px;
	border: 1px solid #888;
	width:50%;
}		
nav {
	position:fixed;
     width:100%;
	background-color:black;
    clear:left;
    text-align:center;
	border-bottom:2px solid white;
}
#nav_sign{
	text-align:right;
	float:right;	
}
.dropbtn {
	color:white;
	padding:10px 30px 10px 30px;
	background-color:black;
	font-family:Impact, Charcoal, sans-serif;
	border:none;
	cursor:pointer;
	font-size:16px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}
.dropbtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.dropbtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.dropbtn:hover span {padding-right: 25px;}
.dropbtn:hover span:after {
  opacity: 1;
  right: 0;
}
nav a {
	text-decoration:none;
	color:white;
	font-family:Impact, Charcoal, sans-serif;
	display:inline-block;
}
nav strong {
	color:white;
	font-family:Impact, Charcoal, sans-serif;
	padding-left:5px;
	font-weight:bold;
	font-size:20px;
} 
.button1 {
	padding:10px 30px 10px 30px;
	font-size:16px;
	background-color:black;
	border:none;
	text-decoration:none;
	color:white;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}
.button1 span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
	margin:0.3em;
}
.button1 span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}
.button1:hover span {
	padding-right: 25px;
}
.button1:hover span:after {
	opacity: 1;
	right: 0;
}
.dropdown {
	position:relative;
	display:inline-block;
}
.dropdown-content {
	display:none;
	position:absolute;
	background-color:black;
	color:white;
	z-index:1;
}
.dropdown-content a {
	display:block;
	color:white;
	text-decoration:none;
}
.dropdown-content ul {
	list-style-type:none;
	padding-left:0px;
}
.dropdown-content li {
	padding-top:5px;
	padding-bottom:5px;
	padding-left:0px;
}			 
.dropdown-content a:hover {
	color:white;
	text-shadow:0px 0px 5px white;
}
.dropdown:hover .dropdown-content {
	display:block;
	padding:5px 30px 5px 5px;
}
.dropdown:hover .button1 {
	color:white;
	text-shadow:3px 3px 3px white;
}
main {
	width:50.5%;
	margin-left:auto;
	margin-right:auto;
	background-color:white;
	padding-top:7%;
}
.infinity {
	width:550px;
	height:320px;
	box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
	border-bottom:2px solid #fff;
	border-right:2px solid #fff;
	border-radius:5px;
	margin-left:auto;
	margin-right:auto;
	background-image:url(../images/InfinityWard.png);
	background-size:cover;		
} 
.image {
	width:470px;
	height:320px;
	box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
	border-bottom:2px solid #fff;
	border-right:2px solid #fff;
	border-radius:5px;
	margin-left:auto;
	margin-right:auto;
	background-image:url(images/breathofthewild2.png);
	background-size:cover;		
} 
.video {
	width:80%;
	height:400px;
	margin-left:auto;
	margin-right:auto;
	border-radius:12px;
	padding-top:20px;
	text-align:center;
}
iframe {
	width:100%;
	height:300px;
}
.videoname {
	width:70%;
	margin-left:auto;
	margin-right:auto;
	border-bottom:2px solid black;
	text-align:center;
}
.details {
	width:90%;
	height:500px;
	margin-left:auto;
	margin-right:auto;
	border:2px solid black;
	border-radius:12px;
	margin-bottom:20px;
}
.details2 {
	width:90%;
	margin-left:auto;
	margin-right:auto;
	border-radius:12px;
	margin-bottom:20px;
}
.comment {
	width:90%;
	height:300px;
	margin-left:auto;
	margin-right:auto;
	border:2px solid black;
	border-radius:12px;
}
.comment h2 {
	width:90%;
	margin-left:auto;
	margin-right:auto;
	border-bottom:2px solid black;
}
textarea {
	width:87%;
	padding-left:20px;
	margin-left:5%;
	border-bottom:2px solid black;
}
.comment h3 {
	width:90%;
	margin-left:auto;
	margin-right:auto;
	border-bottom:2px solid black;
}
.shownbox {
	width:90%;
	margin-left:auto;
	margin-right:auto;
	border-bottom:2px solid black;
}
.back {
	font-size:small;
	width:90%;
	margin-left:auto;
	margin-right:auto;
}
.back a {
	text-decoration:none;
	color:black;
	font-weight:bold;
}
.back a:hover {text-shadow:0px 0px 5px black;}
footer {
	background-color:black;
	text-align:center;
	color:white;
	height:30px;
}
footer img {
	padding-left:5px;
	padding-right:5px;
	width:30px;
	height:30px;
	float:right;
}
/*Scroll up function*/
.scroll-to-top-link{
	position:fixed;
	width:50px;
	right:10%;
	bottom:10%;
	cursor:pointer;
}