body {background-image: url("../images/back.jpg");
	background-repeat: no-repeat;
	background-size: 101% 100%;
	 margin:0px;
	 padding:0px;
	 font-family:Impact, Charcoal, sans-serif;
}

header {
	background-color:white;
}

header ul {
	text-align:right;
	list-style-type:none;
}

.button {
	background-color:white;
	border:2px solid black;
	color:black;
	padding:15px 32px;
	text-align:center;
	text-decoration:none;
	font-size:16px;
	cursor:pointer;
	border-radius:12px;
}

input {
	width:90%;
	height:30px;
	padding:12px 20px;
	border:1px solid black;
	margin: 10px 0;
}
.loginbutton2 {
	background-color:#4CAF50;
	color:white;
	padding:14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width:100%;
}
.cancelbutton {
	background-color:red;
	color:white;
	padding:14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width:100%;
}
.container {
	padding:16px;
}
.modal {
	display:none;
	position:fixed;
	z-index:1;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:auto;
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
	padding-top: 60px;
}
.modal-content {
	background-color: #fefefe;
	margin:10% auto 15% auto;
	border-radius:12px;
	border: 1px solid #888;
	width:50%;
}				



nav {top:0px;
	position:fixed;
	background-color:black;
	width:100%;
	text-align: center;
	
}
#nav_sign{
	float:right;
	
}
.dropbtn {
	color:white;
	padding:10px 30px 10px 30px;
	background-color:black;
	font-family:Impact, Charcoal, sans-serif;
	border:none;
	cursor:pointer;
	font-size:16px;
	transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.dropbtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.dropbtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.dropbtn:hover span {
  padding-right: 25px;
}

.dropbtn:hover span:after {
  opacity: 1;
  right: 0;
}
nav a {
	text-decoration:none;
	color:white;
	font-family:Impact, Charcoal, sans-serif;
	display:inline-block;
}
nav strong {
	color:white;
	font-family:Impact, Charcoal, sans-serif;
	padding-left:5px;
	font-weight:bold;
	font-size:20px;
} 
.button1 {
	padding:10px 30px 10px 30px;
	font-size:16px;
	background-color:black;
	border:none;
	
	text-decoration:none;
	color:white;
	transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  margin:0.3em;
}
.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}
.banner {
	padding-left:20px;
	float: left;
}
.dropdown {
	position:relative;
	text-align: center;
	display:inline-block;
}
.dropdown-content {
	display:none;
	position:absolute;
	background-color:black;
	color:white;
	z-index:1;
}
.dropdown-content a {
	display:block;
	color:white;
	text-decoration:none;
}
.dropdown-content ul {
	list-style-type:none;
	padding-left:0px;
}
.dropdown-content li {
padding-top:5px;
padding-bottom:5px;
padding-left:0px;
}			 
.dropdown-content a:hover {
	color:white;
	text-shadow:3px 3px 3px white;
}
.dropdown:hover .dropdown-content {
	display:block;
	padding:5px 30px 5px 5px;
}

.dropdown:hover .button1 {
	color:white;
	text-shadow:3px 3px 3px white;
}
main {color:black;
	margin-top:5%;
	width:48%;
	margin-left:auto;
	margin-right:auto;
	}
#force {margin-top:21%}
#banner1 {
	float:right;
}
.clearright {
	clear:right;
}
footer {
	background-color:black;
	text-align:center;
	color:white;
	height:46px;
}
#navbar a {
	text-decoration:none;
	color:black;
}
#navbar a:hover {
	text-shadow:0px 0px 10px black;
}		  
footer img {
	
	padding-left:5px;
	padding-right:5px;
	width:30px;
	height:30px;
	float:right;
}